<template id="yoru-demo-footer">
  <style media="screen">
    :host {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      position: relative;
      width: 100%;
      padding: 0;
      margin: 0;
    }

    footer {
      display: block;
      position: relative;
      width: 100%;
      max-width: 1000px;
      padding: 2em 0;

      text-align: center;
    }
  </style>
  <footer>
    <span>
      夜 ー ＹＯＲＵ ー Guillaume `Schlipak` de Matos ー Copyright &copy; 2017 MIT License 
    </span>
  </footer>
</template>
