<template id="yoru-app-icon">
  <style media="screen">
    :host {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    svg {
      width: 2em;
      height: 2em;
    }

    svg #innerCircle {
      cx: 30;
      rx: 10;
      ry: 13;
      stroke-width: 7;

      transition: cx .4s, rx .4s, ry .4s, stroke-width .4s;
      transition-delay: 2s;
      transform-origin: center;
    }

    svg:hover #innerCircle,
    svg:focus #innerCircle,
    svg.animating #innerCircle {
      cx: 15;
      rx: 8;
      ry: 8;
      stroke-width: 5;

      transition-delay: 0s;
      animation-name: animationYoruEye;
      animation-delay: 1s;
      animation-duration: 3s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: 1;
    }

    @keyframes animationYoruEye {
      from, 50%, 85%, 90%, to {
        transform: scaleY(1) translateX(0);
      }
      20%, 40% {
        transform: scaleY(1) translateX(-5px);
      }
      87.5% {
        transform: scaleY(0) translateX(0);
      }
    }
  </style>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
    <defs>
      <mask id="circleMask" maskUnits="userSpaceOnUse" x="0" y="0" width="30" height="30">
        <rect x="0" y="0" width="30" height="30" fill="black"></rect>
        <circle cx="15" cy="15" r="14" fill="white" stroke="white" stroke-width=".5" />
      </mask>
    </defs>
    <circle cx="15" cy="15" r="14" fill="{{color}}"/>
    <ellipse id="innerCircle" cx="15" cy="15" rx="13" ry="13" fill="none" stroke="{{strokeColor}}" stroke-width="7" mask="url(#circleMask)"/>
  </svg>
</template>
