<template id="yoru-demo-heading">
  <style media="screen">
    :host {
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      top: 0;
      left: 0;
      width: 100vw;
      box-sizing: border-box;

      background-color: black;
      color: white;
      z-index: 900;
    }

    .heading-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 1000px;
      height: 100%;
      padding: 2em;
    }

    a {
      display: inline-flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      font-family: 'Merriweather', serif;
      font-size: 2em;
      color: white;
      text-decoration: none;
      outline: none;
    }

    a app-icon {
      margin-right: 1em;
    }

    h5 {
      font-family: 'Lato', sans-serif;
    }
  </style>
  <div class="heading-container">
    <a href=".">
      <app-icon></app-icon>
      <span>{{appLogo}} ー {{appTitle}}</span>
    </a>
    <h3>
      Version {{versionNumber}}
    </h3>
  </div>
</template>
